/* CSS Document */


#divicion-Titulos{

	color:white;
	font-weight:bold;
	font-size:15px;
	padding-top:0px;	
	padding-bottom:20px;
/*	border-right:30px solid transparent;*/
	border-bottom:39px solid #0669af;
	line-height:50px;

	height:0;
	text-decoration: none;
	float:left;
	width:1200px;
	text-transform: uppercase;
	text-align:center;

}


#map_container{
text-align:left;
font-size:18px:

}


#map_canvas 

{
height:35%; 
width:35%: 
color:#FFFFFF;
}



.notificacion_ip´s{
        color:#990000;
		text-align:left;
		font-size: 15px;
	    font-weight:bold;		
		
 }
	
	
.contenido_ip{
        color:#990000;
		text-align:left;
		font-size: 15px;
	
		
 }
