.resultados {
	color: #005fbf;
	font-size: 18px;
	font-weight:bold;


    }

.resultadosInvestigaciones {
	color: #005fbf;
	font-size: 18px;
	font-weight:bold;


    }


.eliminar {
	color: #990000;
	font-size: 28px;
	font-weight:bold;
	text-align:center;

    }
	
.segundos {
	color: #990000;
	font-size: 18px;
	font-weight:bold;


    }
